

.main-card{

  padding-left: 10px ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  margin: 10px;
  background-color: beige;


}

h2{

  background-color: rgb(89, 236, 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  padding:5px

}

.semi-card{
  background-color: #61dafb;
  padding: 5px;
  margin:5px;

}